.mobile-social {
    display: flex;
    flex-wrap: wrap;
}

.mobile-social__item {
    @include font (18px, 500, 1.22, 0.02em);
    
    &:not(:last-child) {
        margin-right: 10px;
    }

    @media screen and (max-width: 479px) {
        margin-bottom: 10px;
    }
&::after {
position: absolute;
}
}


.mobile-social__link {
    color: $accent-color;
    text-decoration: none;
    padding-right: 10px;
}
