.testimonials {
    padding-top: 60px;

    @media screen and (min-width:$desktop) {
            padding-top: 94px;
        }
}
.testimonials__list {
    @media screen and (min-width:$tablet) {
            margin: -15px;
            display: flex;
            flex-wrap: wrap;
        }
}
.testionials__item {
@media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:$tablet) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }

    @media screen and (min-width:$desktop) {
        flex-basis: calc((100% - 4 * 30px) / 4);

    }
}
.testimonials__block {
    background-color: $about-team-background-color;
    min-height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials__icons {
    align-items: center;
}
.testimonials__text {
    @include font (14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: $title-color;
    margin: 0 0 10px 0;
    text-align: center;

    @media screen and (min-width:$desktop) {
            text-align: left;
        }
    @media screen and (min-width:$tablet) {
            text-align: left;
        }
}
.testimonials__description {
    @include halffont (14px, 1.71, 0.03em);
    color: $contacts-list-color;
}